<nav class="bg-white  dark:bg-[#171717] pt-3">
    <div class=" flex flex-wrap items-center justify-between mx-auto pl-20 pr-20 pt-4 pb-4">
        <a routerLink="/" class="flex items-center ">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">XLIFF Tools</span>
        </a>
        <div class=" w-full  md:w-auto" id="navbar-default">
            <ul
                class="font-medium flex flex-wrap justify-around items-start p-4 md:p-0 mt-4   rounded-lg   space-x-2 md:mt-0  ">
                <li class="">
                    <a routerLink="/translator" routerLinkActive="active-link"
                        class="block  px-4 py-1 rounded-2xl  navbar-link font-bold sm:mb-6 md:mb-0">Translator</a>
                </li>
                <li >
                    <a routerLink="/unifier" routerLinkActive="active-link"
                        class="block  px-4 py-1 rounded-2xl  navbar-link font-bold sm:mb-6 md:mb-0">Unifier</a>
                </li>
                <li >
                    <a routerLink="/disclaimer" routerLinkActive="active-link"
                        class="block  px-4 py-1 rounded-2xl navbar-link font-bold sm:mb-6 md:mb-0">Disclaimer</a>
                </li>
                <li >
                    <a routerLink="/help" routerLinkActive="active-link"
                        class="block  px-4 py-1 rounded-2xl navbar-link font-bold sm:mb-6 md:mb-0">About</a>
                </li>
                <li >
                    <app-toggle-theme-btn class="ms-6"></app-toggle-theme-btn>
                </li>
            </ul>
        </div>
    </div>
</nav>

