<div
    class="flex flex-col items-center justify-center min-h-screen p-4 space-y-8 bg-white dark:bg-black w-full overflow-hiddens">

    <nav class="flex justify-end mb-0">
        <app-toggle-theme-btn></app-toggle-theme-btn>
    </nav>
    <main class="flex flex-col items-center space-y-4 ">
        <h1 class="text-4xl font-bold text-center text-black dark:text-white">XLIFF Tools</h1>
        <p class="text-center text-muted-foreground text-black dark:text-white">Translate XLF and XLIFF files for your
            apps'
            internalization.</p>
        <a routerLink="/translator"
            class="flex items-center p-4 space-x-2 bg-black dark:bg-white rounded-2xl text-white dark:text-black">
            <span class="k">Take a Look</span>
            <i class="fa-solid fa-arrow-right-long "></i>
        </a>
    </main>
    <footer class="flex items-center justify-center w-full px-4 py-4">
        <a class="text-xs text-black dark:text-white me-20" href="https://byjofrey.com" target="_blank"><i
                class="fa-solid fa-globe me-1 fa-lg"></i> By Jofrey</a>

        <a href="https://github.com/Jofreylin/WEB_XML_TRANSLATOR" target="_blank" class="text-xs text-black dark:text-white me-20"><i
                class="fa-brands fa-github  fa-lg"></i> GitHub</a>

         <a href="/disclaimer" class="text-xs text-black dark:text-white " ><i class="fa-solid fa-circle-exclamation me-1"></i> Disclaimer</a>
    </footer>
</div>