<div class="container">
    <div class=" p-20 text-black dark:text-white" >
        <h1 class="text-4xl font-bold   mb-3">Disclaimer</h1>
        <p >This web application is designed to translate XLF and XLIFF files with XML structures using third-party libraries. <strong>It is not recommended for commercial production use.</strong> This tool is intended primarily for testing and personal use applications.</p>
        <p class="mt-2 font-bold ">Please Note:</p>
        <ul class="list-disc list-inside ml-4 ">
          <li><strong>Third-Party Libraries:</strong> The reading and translation of files are handled by third-party libraries. These libraries are subject to their own terms of service and licensing agreements. The reliability and accuracy of the translations depend on these external libraries.</li>
          <li><strong>Data Privacy:</strong> Be cautious when uploading sensitive or confidential files. While efforts are made to handle data securely, this application is not intended for handling sensitive information.</li>
          <li><strong>Verification:</strong> You can verify the libraries and their implementation by reviewing the source code of this project available on GitHub.</li>
          <li><strong>No Warranty:</strong> This application is provided "as is" without any warranties of any kind, express or implied. The developers are not responsible for any damages or losses resulting from the use of this tool.</li>
        </ul>
        <p class="mt-2 ">For more information, please refer to the project repository on GitHub: <a href="https://github.com/Jofreylin/WEB_XML_TRANSLATOR" class="text-blue-500 underline" target="_blank">GitHub Repository URL</a></p>
      </div>
      
</div>