@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;0,900;0,1000;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply  font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer components {
    .active-link {
      @apply bg-black dark:bg-white text-white m-0  dark:text-black border-black;
    }

    .navbar-link:not(.active-link){
        @apply  bg-white text-black border border-black dark:bg-black dark:text-white dark:border-white;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

